.landing-page {
  @import '../../styles/mixins.scss';
  height: 100vh;
  width: 100%;

  .landing-error {
    font-size: 1.5em;
    text-align: center;
    color: rgb(156, 29, 29);
    background: #fff;
    height: 100vh;
    width: 100vh;
    z-index: 5;
  }

  .carousel {
    position: relative;

    &:active {
      cursor: grabbing;
    }

    .carousel-images {
      min-height: 100vh;

      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    padding: 20px 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    z-index: 3;

    @include mediaQuery(tablet) {
      top: 58%;
      transform: none;
      left: 5vh;
      padding: 40px 70px;
    }

    @include mediaQuery(desktop) {
      top: 70%;
      transform: none;
      left: 8vh;
      padding: 40px 120px;
    }

    h1 {
      margin: 0;
      padding: 10px 0;
      font-size: 35px;
      text-align: start;
      color: rgb(255, 255, 255);
      width: 10ch;

      @include mediaQuery(tablet) {
        font-size: 45px;
        width: auto;
      }
      @include mediaQuery(desktop) {
        font-size: 60px;
        width: auto;
      }
    }

    p {
      color: rgb(226, 225, 225);
      @include mediaQuery(tablet) {
        font-size: 16px;
      }
      @include mediaQuery(destkop) {
        font-size: 25px;
      }
    }

    button {
      font-size: 14px;
      background: #fff;
      padding: 10px 20px;
      border: 1px solid #fff;
      color: #000;
      border-radius: 5px;
      @include mediaQuery(tablet) {
        font-size: 17px;
        padding: 10px 25px;
        background: transparent;
        color: #fff;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          background: #fff;
          color: #000;
        }
      }
      @include mediaQuery(desktop) {
        font-size: 30px;
      }
    }
  }
}
